*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.up-Section{
    height: 40px;
    background-color: #f8f5f5;
    color: #000000CC;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.up-Section a{
    text-decoration: none;
    color: inherit;
    background: none;
}
.up-Section a:hover{
    text-decoration: underline;
    color: inherit;
    background: none;
}
.Spacing{
    width: 1024px;
    display: flex;
    align-items: center;
}
.Edu{
    padding: 0px 16px 0px 16px;
}
.Exit{
    padding: 0px 16px;
}
.Spacing p {
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
.navbar {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbfbfd;
}

.navbar-center {
  padding: 0px 12px;
  width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo i {
  font-size: 18px;
  color: #1d1d1f;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 42px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #1d1d1f;
  font-size: 12px;
  font-weight: 400;
  transition: color 0.2s ease;
}
.nav-icons {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav-icons i {
  font-size: 14px;
  color: #1d1d1f;
  cursor: pointer;
  transition: color 0.2s ease;
}