*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
  background-color: #f8f5f5;
}

.up-Section{
    height: 40px;
    background-color: #f8f5f5;
    color: #000000CC;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link{
    text-decoration: none;
    color: inherit;
    background: none;
}
.up-Section a{
    text-decoration: none;
    color: inherit;
    background: none;
}
.up-Section a:hover{
    text-decoration: underline;
    color: inherit;
    background: none;
}
.Spacing{
    width: 1024px;
    display: flex;
    align-items: center;
}
.Edu{
    padding: 0px 16px 0px 16px;
}
.Exit{
    padding: 0px 16px;
}
.Spacing p {
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
.navbar {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbfbfd;
}

.navbar-center {
  padding: 0px 12px;
  width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo i {
  font-size: 18px;
  color: #1d1d1f;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 42px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #1d1d1f;
  font-size: 12px;
  font-weight: 400;
  transition: color 0.2s ease;
}
.nav-icons {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav-icons i {
  font-size: 14px;
  color: #1d1d1f;
  cursor: pointer;
  transition: color 0.2s ease;
}

/* Main Section */

.store-home {
  justify-content: center;
}
.row {
  height: 248px;
  
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; 
}
.col {
  width: 640px;
  padding: 80px 0px 64px;
  display: flex;
  align-items: center;
 
}
.sub-header {
  height: 104px;
  width: 640px;
}
.sub-header p {
  font-size: 43px;
  font-weight: 550;
}
.Greenish {
  color: #08827C;
}
.grey {
  color: #6E6E73;
}
.store-chat { 
  padding: 90px 0 54px;
  width: 185px;
  height: 248px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.bx1 {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  padding: 0px 0px 16px;
}
.bx2 {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  padding: 0px 0px 10px;
}

.specialist-icon {
  background-image: url("images/store-chat-specialist-icon-202506_AV1.jpeg");
  width: 42px;
  height: 36px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.Applechat-icon {
  width: 44px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Applechat-icon i {
  font-size: 25px;
}

.chat-text {
  display: flex;
  flex-direction: column;
}

.chat1 {
  margin: 0;
  font-weight: 550;
  color: #1d1d1f;
}

.chat2 {
  font-weight: 400;
  margin: 0;
}

.link {
  text-decoration: none;
  color: #06c;
}

.link:hover {
  text-decoration: underline;
}

/* products cards */

.products-horizontal {
  height: 204px;
  padding: 16px 0px 40px 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  overflow-x: auto;
  flex-wrap: nowrap;
}
.cards {
  width: 136px;
  height: 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards img {
  width: 100%;
  height: 80%;
  object-fit: contain;
}
.link1 {
  text-decoration: none;
  color: #1d1d1f;
}
.h-name {
  font-size: 14px;
  font-weight: 550;
  text-align: center;
}
.cards-name a:hover {
  text-decoration: underline;
}
/* Heading */
.heading1 {
  font-weight: 550;
  padding: 35px 0px 0px 88px;
  font-size: 25px;
}
/* Scroll-tab */

.scroll-panel {
  height: 556px;
  display: flex;
  padding: 16px 0px 40px 88px;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  gap: 20px;
}
.card1 {
  position: relative;
  width: 400px;
  height: 500px;
  flex: 0 0 400px;
  background-color: white;
  overflow: hidden;
  border-radius: 3%;
}
.img-card {
   width: 100%;
  height: 100%;
  object-fit: cover;
}
.heading2, .sub-heading, .about {
  position: absolute;
  left: 20px;
  color: black;
}
.heading2 {
  top: 20px;
  font-size: 24px;
  font-weight: 600;
}
.sub-heading {
  top: 55px;
  font-size: 17px;
  font-weight: 550;
}
.about {
  top: 82px;
  font-size: 14px;
  font-weight: 300;
}
.white-text {
  color: white;
}
.gradient-text {
  background: linear-gradient(to right, #007aff, #af52de, #ff2d55, #ff6600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card1:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
  transition: transform 0.3s ease-in, box-shadow 0.3s ease;
}